## Import TfidfVectorizer

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
sentences=['My name is Neel','Neel nil Neel','i live in Surat']

## Fit the List of Sentences

In [2]:
vectors=TfidfVectorizer()
vectors.fit(sentences)
transform=vectors.transform(sentences)
print(transform)
print(vectors.vocabulary_)
transform.shape

  (0, 5)	0.4020402441612698
  (0, 4)	0.5286346066596935
  (0, 3)	0.5286346066596935
  (0, 1)	0.5286346066596935
  (1, 6)	0.5493512310263033
  (1, 5)	0.8355915419449176
  (2, 7)	0.5773502691896257
  (2, 2)	0.5773502691896257
  (2, 0)	0.5773502691896257
{'my': 3, 'name': 4, 'is': 1, 'neel': 5, 'nil': 6, 'live': 2, 'in': 0, 'surat': 7}

(3, 8)

In [4]:
df=pd.DataFrame(vectors.fit_transform(sentences).toarray(),columns=vectors.get_feature_names())
df

        in        is     live        my      name      neel       nil    surat
0  0.00000  0.528635  0.00000  0.528635  0.528635  0.402040  0.000000  0.00000
1  0.00000  0.000000  0.00000  0.000000  0.000000  0.835592  0.549351  0.00000
2  0.57735  0.000000  0.57735  0.000000  0.000000  0.000000  0.000000  0.57735

## Finding Rareness for words which are having min_df=2,max_df=3, in all Sentences

In [5]:
vectors2=TfidfVectorizer(binary=True,min_df=2,max_df=3)
vectors2.fit(sentences)
transform=vectors.transform(sentences)
print(transform)
                    
print(vectors2.vocabulary_)
df=pd.DataFrame(vectors2.fit_transform(sentences).toarray(),columns=vectors2.get_feature_names())
df

  (0, 5)	0.4020402441612698
  (0, 4)	0.5286346066596935
  (0, 3)	0.5286346066596935
  (0, 1)	0.5286346066596935
  (1, 6)	0.5493512310263033
  (1, 5)	0.8355915419449176
  (2, 7)	0.5773502691896257
  (2, 2)	0.5773502691896257
  (2, 0)	0.5773502691896257
{'neel': 0}

   neel
0   1.0
1   1.0
2   0.0